name: Deploy to Cloud

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Build Frontend
        uses: actions/setup-node@v3
        with:
          node-version: '18.15.0'
      - run: cd frontend && npm install
      - run: cd frontend && npm run build
      - uses: actions/upload-artifact@v4
        with:
          name: frontend_dist
          path: frontend/dist
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Download Frontend
        uses: actions/download-artifact@v4
        with:
          name: frontend_dist
          path: frontend/dist
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Deploy to S3 with CDK
        uses: youyo/aws-cdk-github-actions@v2
        with:
          cdk_subcommand: 'deploy'
          cdk_args: '--require-approval never'
          working_dir: 'deployment'