name: Build and Create SBOM

on:
  push:
    branches:
      - feat/SBOM_js

jobs:
  build:
    runs-on: ubuntu-latest
    name: Install and build JavaScript
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      
      - name: cd
        run: cd frontend

      - name: Install Dependencies
        run: npm install

      - name: Create SBOM with CycloneDX
        uses: CycloneDX/gh-node-module-generatebom@v1
        with:
          path: './frontend/'
          output: './bom_directory/test.app.bom.xml'
