name: Build and Create SBOM

on:
  push:
    branches:
      - feat/SBOM_js

jobs:
  build:
    runs-on: ubuntu-latest
    name: Install and build JavaScript
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install Dependencies
        run: cd frontend && npm install

      - name: Create SBOM with CycloneDX
        uses: CycloneDX/gh-node-module-generatebom@v1
        with:
          path: './frontend/'
          output: './frontend/sbom.xml'
          
      - name: Upload SBOM
        uses: actions/upload-artifact@v3
        with:
         name: SBOM
         path: './frontend/sbom.xml'
